
// Fonts
@import url("https://fonts.googleapis.com/css?family=Material+Icons");

// Variables
@import "variables";

// Materialize
@import '~materialize-css/sass/materialize';

#main-nav {
  a {
    transition: .2s all ease;
  }
  a:hover,
  a:focus {
    color: #cccccc;
    text-decoration: none;
  }
}